<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Localez.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AE63CDE2FB9E9DC00D993EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE63CEB2FB9E9DD00D993EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE63CF52FB9E9DD00D993EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
